

{
  background-color:#EBCFA6;
}
  p
  {
    color:#EA6CCE;
    font-family:'Cookie',cursive;
    font-size: 50px;
  }
h1,
h2,Header{
  color:#EA6CCE;
  font-family: 'EB Garamondn', serif;
  font-size: 62px;
}
{
  color:#EA6CCE;
  font-family:'Cookie', cursive;
  font-size: 50px;
}

footer{
  color:#EA6CCE ;
};
a {
  color:#EA6CCE ;
}
